*{
    box-sizing: border-box;
}           
body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    background-color: rgb(154, 177, 226);
    background-image: url(../images/mandalorian.png);
    background-image: url(../images/deathStar.png),
                        url(../images/deathStar2.png);

    /*background-attachment:scroll;*/
    background-repeat: repeat-y;
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-size: 100%;
}

/***********  Navbar  ***********/

ul{
    background-color: darkgrey;
    background-color: transparent 50%;
    background-color: rgba(175, 174, 174, 0.301);
    padding-top: 10px;
    padding-left: 0;
    margin: 0; 
    width: 15%;
    position: absolute;
    top: 10px;
    bottom: 10px;
}
h2{
    color: rgb(77, 75, 75);
    text-align: center;
    margin-top: 30px;
    font-family: Bradley Hand;
    font-weight:1000;
    font-size: 40px;
}

a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;
    font-weight: 800;
}
a:hover{
    background-color: lightblue;
}

img{
    position: relative;
    height: 18px;
    width: 18px;
    margin-right: 10px;
    margin-bottom: 0px;
}

/***********  Search Section  ***********/

.search{
    margin-left: 18%;
    margin-top: 10px;
}

.searchIcon{
    margin: 0;
    display: inline-block;
    padding-top: 10px;
    height: 30px;
    width: 30px;
}

.searchText{
    display: inline-block;
}

.searchText input{
    margin: 0;
    border: 0;
    height:30px;   
    font-size: 15px; 
} 

.searchText input[type="text"]{
    width: 500px;
}

.searchText input[type="submit"]:hover{
    background-color: lightblue;
}

/***********  Recommend Movies  ***********/

.flex-container{
    display: flex;
    flex-flow: wrap;
    justify-content: stretch;
    margin-left: 16%;
    margin-top: 20px;
}

.flex-item{
    width: 200px;
    height: 350px;
    margin: 15px;
    padding: 10px;
    background-color:grey;
    background-color:transparent;
    color: white;
    text-align: center;
}



.flex-item img{
    width: 180px;
    height: 220px; 
}



#navbar{
    background-color: transparent;
}


p{
    font-size: 20px;
}

.MovieDetail{
    margin-top: 5px;
    background-color: transparent; 
    border-color: transparent;
    font-size: 17px;
    color: rgb(250,142,0);
}

.MovieDetail:hover{
    color:rgb(245, 3, 124);
}