.col-md-4{
    margin-top: 15px;
    margin-bottom: 15px;
}

.well{
    margin-top: 80px;
}

.btn btn-primary{
    margin-top: 40px
}

#goIMDB{
    margin-top: 12px;
    background-color: rgb(252, 153, 5);
    border-color: rgb(54, 54, 54);
}

#goIMDB:hover {
    text-decoration: underline;
}

body{
    background-color:black;
}

.logo{
    color: rgb(250, 142, 0);
}

h1 {
    color: rgb(250, 142, 0); 
}

h3{
    color:white;
    margin-left: 20px
}

h5{
    color:white;
    margin-left: 20px;
}

#information-area{
    background-color: rgb(29, 27, 27);
    background-color:transparent;
    border: 2px;
    border-color: aliceblue;
    border-color: transparent;
}