.col-md-4{
    margin-top: 20px;
}

.well{
    margin-top: 80px;
}

.btn btn-primary{
    margin-top: 40px
}

#goIMDB{
    margin-top: 40px 
}

body{
    background-color:rgb(54, 54, 54);
}

.logo{
    color: rgb(250, 142, 0);
}

h1 {
    color: rgb(250, 142, 0); 
}

h3{
    color:white;
    margin-left: 20px
}

h5{
    color:white;
    margin-left: 20px;
}