*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

.search{
    text-align: center;
}

.search input{
    border: 1px solid #b6b6b6;
    width:600px;
    height:40px;
    font-size:20px;
    border-radius: 10px;
}

.search input[type="submit"]{
    width: 100px;
    height: 36px;
    padding: 0;
    margin-top: 40px;
}

.search input[type="submit"]:hover{
    background-color: lightblue;
}

h1{
    color: rgb(77, 75, 75);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px ;
    font-family: Bradley Hand;
    font-weight:1000;
    font-size: 60px;
}

a{
    text-decoration: none;
}

.form-control{
  margin:0 auto;
}

#movies img, #movie img{
    width:100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height:400 px;
  }

  #movies .col-md-3 img{
    height:220 px;
  }
}


















